################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KioskCheckInSolution/CopilotIndices/17.14.878.3237
/.vs/ProjectEvaluation/kioskcheckinsolution.metadata.v9.bin
/.vs/ProjectEvaluation/kioskcheckinsolution.projects.v9.bin
/.vs/ProjectEvaluation/kioskcheckinsolution.strings.v9.bin
/.vs/KioskCheckInSolution/v17/.futdcache.v2
*.txt
/.vs/KioskCheckInSolution/v17/.suo
/.vs/KioskCheckInSolution/v17/DocumentLayout.backup.json
/.vs/KioskCheckInSolution/v17/DocumentLayout.json
/.vs/KioskCheckInSolution/FileContentIndex/2544a232-a531-478d-be71-20c876a16b20.vsidx
/.vs/KioskCheckInSolution/FileContentIndex/387cb1f0-251d-4900-8f27-bac69a6cb5cb.vsidx
/.vs/KioskCheckInSolution/FileContentIndex/8d3a30ac-3227-4358-8b6e-3202a493e447.vsidx
/.vs/KioskCheckInSolution/FileContentIndex/ce93b4be-fd5b-48d0-8a90-f3de1ba6550a.vsidx
/.vs/KioskCheckInSolution/FileContentIndex/e6571e03-ee57-4056-8359-c3bd3ee844e7.vsidx
/.vs/KioskCheckInSolution/FileContentIndex/fac7d5a7-566b-41e6-8712-3610d8e0471e.vsidx
/.vs/KioskCheckInSolution/DesignTimeBuild/.dtbcache.v2
/KioskCheckIn.API/bin/Debug/net9.0/AutoMapper.dll
/KioskCheckIn.API/bin/Debug/net9.0/efpt.config.json
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.API.deps.json
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.API.dll
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.API.exe
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.API.pdb
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.API.staticwebassets.endpoints.json
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.Data.dll
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.Data.pdb
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.Shared.dll
/KioskCheckIn.API/bin/Debug/net9.0/KioskCheckIn.Shared.pdb
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Identity.Core.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Identity.Stores.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/KioskCheckIn.API/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/KioskCheckIn.API/bin/Debug/net9.0/nlog.config
/KioskCheckIn.API/bin/Debug/net9.0/NLog.dll
/KioskCheckIn.API/bin/Debug/net9.0/NLog.Extensions.Logging.dll
/KioskCheckIn.API/bin/Debug/net9.0/NLog.Web.AspNetCore.dll
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets/msbuild.build.KioskCheckIn.API.props
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.KioskCheckIn.API.props
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.KioskCheckIn.API.props
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.AssemblyInfoInputs.cache
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.assets.cache
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.csproj.AssemblyReference.cache
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.csproj.BuildWithSkipAnalyzers
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.csproj.CoreCompileInputs.cache
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.csproj.FileListAbsolute.txt
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.dll
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.pdb
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.sourcelink.json
/KioskCheckIn.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/KioskCheckIn.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/KioskCheckIn.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets.build.json
/KioskCheckIn.API/obj/Debug/net9.0/staticwebassets.build.json.cache
/KioskCheckIn.API/obj/KioskCheckIn.API.csproj.nuget.dgspec.json
/KioskCheckIn.API/obj/KioskCheckIn.API.csproj.nuget.g.props
/KioskCheckIn.API/obj/KioskCheckIn.API.csproj.nuget.g.targets
/KioskCheckIn.API/obj/project.assets.json
/KioskCheckIn.API/obj/project.nuget.cache
/KioskCheckIn.Data/bin/Debug/net9.0/KioskCheckIn.Data.deps.json
/KioskCheckIn.Data/bin/Debug/net9.0/KioskCheckIn.Data.dll
/KioskCheckIn.Data/bin/Debug/net9.0/KioskCheckIn.Data.pdb
/KioskCheckIn.Data/bin/Debug/net9.0/KioskCheckIn.Shared.dll
/KioskCheckIn.Data/bin/Debug/net9.0/KioskCheckIn.Shared.pdb
/KioskCheckIn.Data/obj/Debug/net8.0/KioskCheckIn.Data.assets.cache
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.AssemblyInfoInputs.cache
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.assets.cache
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.csproj.AssemblyReference.cache
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.csproj.BuildWithSkipAnalyzers
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.csproj.CoreCompileInputs.cache
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.pdb
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.sourcelink.json
/KioskCheckIn.Data/obj/Debug/net9.0/ref/KioskCheckIn.Data.dll
/KioskCheckIn.Data/obj/KioskCheckIn.Data.csproj.nuget.dgspec.json
/KioskCheckIn.Data/obj/KioskCheckIn.Data.csproj.nuget.g.props
/KioskCheckIn.Data/obj/project.assets.json
/KioskCheckIn.Data/efpt.config.json
/KioskCheckIn.Data/efpt.config.json.user
/KioskCheckIn.Data/obj/project.nuget.cache
/KioskCheckIn.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/KioskCheckIn.Shared/obj/Debug/net8.0/KioskCheckIn.Shared.AssemblyInfo.cs
/KioskCheckIn.Shared/obj/Debug/net8.0/KioskCheckIn.Shared.AssemblyInfoInputs.cache
/KioskCheckIn.Shared/obj/Debug/net8.0/KioskCheckIn.Shared.assets.cache
/KioskCheckIn.Shared/obj/Debug/net8.0/KioskCheckIn.Shared.GeneratedMSBuildEditorConfig.editorconfig
/KioskCheckIn.Shared/obj/Debug/net8.0/KioskCheckIn.Shared.GlobalUsings.g.cs
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.AssemblyInfoInputs.cache
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.assets.cache
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.csproj.AssemblyReference.cache
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.csproj.BuildWithSkipAnalyzers
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.csproj.CoreCompileInputs.cache
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.dll
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.pdb
/KioskCheckIn.Shared/obj/Debug/net9.0/KioskCheckIn.Shared.sourcelink.json
/KioskCheckIn.Shared/obj/KioskCheckIn.Shared.csproj.nuget.dgspec.json
/KioskCheckIn.Shared/obj/KioskCheckIn.Shared.csproj.nuget.g.props
/KioskCheckIn.Shared/obj/KioskCheckIn.Shared.csproj.nuget.g.targets
/KioskCheckIn.Shared/obj/project.assets.json
/KioskCheckIn.Web/bin/Debug/net6.0/KioskCheckIn.Web.dll
/KioskCheckIn.Web/bin/Debug/net6.0/KioskCheckIn.Web.exe
/KioskCheckIn.Web/bin/Debug/net6.0/KioskCheckIn.Web.pdb
/KioskCheckIn.Web/bin/Debug/net6.0/KioskCheckIn.Web.staticwebassets.endpoints.json
/KioskCheckIn.Web/bin/Debug/net6.0/KioskCheckIn.Web.staticwebassets.runtime.json
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.AssemblyInfoInputs.cache
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.assets.cache
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.csproj.BuildWithSkipAnalyzers
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.csproj.CoreCompileInputs.cache
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.csproj.FileListAbsolute.txt
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.GeneratedMSBuildEditorConfig.editorconfig
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.pdb
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.sourcelink.json
/KioskCheckIn.Web/obj/Debug/net6.0/rjimswa.dswa.cache.json
/KioskCheckIn.Web/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
/KioskCheckIn.Web/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
/KioskCheckIn.Web/obj/Debug/net6.0/rpswa.dswa.cache.json
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.build.json
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.build.json.cache
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.development.json
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.pack.json
/KioskCheckIn.Web/obj/Debug/net6.0/staticwebassets.upToDateCheck.txt
/KioskCheckIn.Web/obj/KioskCheckIn.Web.csproj.nuget.dgspec.json
/KioskCheckIn.Web/obj/KioskCheckIn.Web.csproj.nuget.g.props
/KioskCheckIn.Web/obj/project.assets.json
/KioskCheckInSolution.slnLaunch.user
/KioskCheckIn.API/obj/Debug/net8.0/KioskCheckIn.API.assets.cache
/KioskCheckIn.Shared/bin/Debug/net9.0/KioskCheckIn.Shared.deps.json
/KioskCheckIn.Shared/bin/Debug/net9.0/KioskCheckIn.Shared.pdb
/KioskCheckIn.Shared/obj/project.nuget.cache
/KioskCheckIn.Web/obj/Debug/net6.0/ApiEndpoints.json
/KioskCheckIn.Web/obj/Debug/net6.0/apphost.exe
/KioskCheckIn.Web/obj/project.nuget.cache
/KioskCheckIn.API/obj/Debug/net9.0/ApiEndpoints.json
/KioskCheckIn.API/obj/Debug/net9.0/apphost.exe
/KioskCheckIn.API/KioskCheckIn.API.csproj.user
*.json
/.vs/KioskCheckInSolution/config/applicationhost.config
/KioskCheckIn.API/bin/Debug/net9.0/appsettings.json
/KioskCheckIn.API/obj/Debug/net9.0/ref/KioskCheckIn.API.dll
/KioskCheckIn.API/obj/Debug/net9.0/KioskCheckIn.API.AssemblyInfo.cs
/KioskCheckIn.API/obj/Debug/net9.0/refint/KioskCheckIn.API.dll
/KioskCheckIn.Data/obj/Debug/net9.0/refint/KioskCheckIn.Data.dll
/KioskCheckIn.Data/obj/Debug/net9.0/KioskCheckIn.Data.dll
/KioskCheckIn.Shared/bin/Debug/net9.0/KioskCheckIn.Shared.dll
/KioskCheckIn.Shared/obj/Debug/net9.0/ref/KioskCheckIn.Shared.dll
/KioskCheckIn.Shared/obj/Debug/net9.0/refint/KioskCheckIn.Shared.dll
/KioskCheckIn.Web/obj/Debug/net6.0/ref/KioskCheckIn.Web.dll
/KioskCheckIn.Web/obj/Debug/net6.0/refint/KioskCheckIn.Web.dll
/KioskCheckIn.Web/obj/Debug/net6.0/KioskCheckIn.Web.dll
*.user
