################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
obj/
.vs/

/.vs/kioskcheckinsolution/copilotindices/17.14.878.3237
/.vs/projectevaluation/kioskcheckinsolution.metadata.v9.bin
/.vs/projectevaluation/kioskcheckinsolution.projects.v9.bin
/.vs/projectevaluation/kioskcheckinsolution.strings.v9.bin
/.vs/kioskcheckinsolution/v17/.futdcache.v2
*.txt
/.vs/kioskcheckinsolution/v17/.suo
/.vs/kioskcheckinsolution/v17/documentlayout.backup.json
/.vs/kioskcheckinsolution/v17/documentlayout.json
/.vs/kioskcheckinsolution/filecontentindex/2544a232-a531-478d-be71-20c876a16b20.vsidx
/.vs/kioskcheckinsolution/filecontentindex/387cb1f0-251d-4900-8f27-bac69a6cb5cb.vsidx
/.vs/kioskcheckinsolution/filecontentindex/8d3a30ac-3227-4358-8b6e-3202a493e447.vsidx
/.vs/kioskcheckinsolution/filecontentindex/ce93b4be-fd5b-48d0-8a90-f3de1ba6550a.vsidx
/.vs/kioskcheckinsolution/filecontentindex/e6571e03-ee57-4056-8359-c3bd3ee844e7.vsidx
/.vs/kioskcheckinsolution/filecontentindex/fac7d5a7-566b-41e6-8712-3610d8e0471e.vsidx
/.vs/kioskcheckinsolution/designtimebuild/.dtbcache.v2
/kioskcheckin.api/bin/debug/net9.0/automapper.dll
/kioskcheckin.api/bin/debug/net9.0/efpt.config.json
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.api.deps.json
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.api.dll
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.api.exe
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.api.pdb
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.api.staticwebassets.endpoints.json
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.data.dll
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.data.pdb
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.shared.dll
/kioskcheckin.api/bin/debug/net9.0/kioskcheckin.shared.pdb
/kioskcheckin.api/bin/debug/net9.0/microsoft.aspnetcore.authentication.jwtbearer.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.aspnetcore.cryptography.internal.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.aspnetcore.cryptography.keyderivation.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.aspnetcore.identity.entityframeworkcore.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.aspnetcore.openapi.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.entityframeworkcore.abstractions.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.entityframeworkcore.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.entityframeworkcore.relational.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.caching.abstractions.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.caching.memory.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.configuration.abstractions.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.dependencyinjection.abstractions.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.dependencyinjection.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.identity.core.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.identity.stores.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.logging.abstractions.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.logging.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.options.dll
/kioskcheckin.api/bin/debug/net9.0/microsoft.extensions.primitives.dll
/kioskcheckin.api/bin/debug/net9.0/nlog.config
/kioskcheckin.api/bin/debug/net9.0/nlog.dll
/kioskcheckin.api/bin/debug/net9.0/nlog.extensions.logging.dll
/kioskcheckin.api/bin/debug/net9.0/nlog.web.aspnetcore.dll
/kioskcheckin.api/obj/debug/net9.0/staticwebassets/msbuild.build.kioskcheckin.api.props
/kioskcheckin.api/obj/debug/net9.0/staticwebassets/msbuild.buildmultitargeting.kioskcheckin.api.props
/kioskcheckin.api/obj/debug/net9.0/staticwebassets/msbuild.buildtransitive.kioskcheckin.api.props
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.assemblyinfoinputs.cache
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.assets.cache
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.csproj.assemblyreference.cache
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.csproj.buildwithskipanalyzers
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.csproj.corecompileinputs.cache
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.csproj.filelistabsolute.txt
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.dll
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.pdb
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.sourcelink.json
/kioskcheckin.api/obj/debug/net9.0/rjsmcshtml.dswa.cache.json
/kioskcheckin.api/obj/debug/net9.0/rjsmrazor.dswa.cache.json
/kioskcheckin.api/obj/debug/net9.0/rpswa.dswa.cache.json
/kioskcheckin.api/obj/debug/net9.0/staticwebassets.build.endpoints.json
/kioskcheckin.api/obj/debug/net9.0/staticwebassets.build.json
/kioskcheckin.api/obj/debug/net9.0/staticwebassets.build.json.cache
/kioskcheckin.api/obj/kioskcheckin.api.csproj.nuget.dgspec.json
/kioskcheckin.api/obj/kioskcheckin.api.csproj.nuget.g.props
/kioskcheckin.api/obj/kioskcheckin.api.csproj.nuget.g.targets
/kioskcheckin.api/obj/project.assets.json
/kioskcheckin.api/obj/project.nuget.cache
/kioskcheckin.data/bin/debug/net9.0/kioskcheckin.data.deps.json
/kioskcheckin.data/bin/debug/net9.0/kioskcheckin.data.dll
/kioskcheckin.data/bin/debug/net9.0/kioskcheckin.data.pdb
/kioskcheckin.data/bin/debug/net9.0/kioskcheckin.shared.dll
/kioskcheckin.data/bin/debug/net9.0/kioskcheckin.shared.pdb
/kioskcheckin.data/obj/debug/net8.0/kioskcheckin.data.assets.cache
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.assemblyinfoinputs.cache
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.assets.cache
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.csproj.assemblyreference.cache
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.csproj.buildwithskipanalyzers
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.csproj.corecompileinputs.cache
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.pdb
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.sourcelink.json
/kioskcheckin.data/obj/debug/net9.0/ref/kioskcheckin.data.dll
/kioskcheckin.data/obj/kioskcheckin.data.csproj.nuget.dgspec.json
/kioskcheckin.data/obj/kioskcheckin.data.csproj.nuget.g.props
/kioskcheckin.data/obj/project.assets.json
/kioskcheckin.data/efpt.config.json
/kioskcheckin.data/efpt.config.json.user
/kioskcheckin.data/obj/project.nuget.cache
/kioskcheckin.shared/obj/debug/net8.0/.netcoreapp,version=v8.0.assemblyattributes.cs
/kioskcheckin.shared/obj/debug/net8.0/kioskcheckin.shared.assemblyinfo.cs
/kioskcheckin.shared/obj/debug/net8.0/kioskcheckin.shared.assemblyinfoinputs.cache
/kioskcheckin.shared/obj/debug/net8.0/kioskcheckin.shared.assets.cache
/kioskcheckin.shared/obj/debug/net8.0/kioskcheckin.shared.generatedmsbuildeditorconfig.editorconfig
/kioskcheckin.shared/obj/debug/net8.0/kioskcheckin.shared.globalusings.g.cs
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.assemblyinfoinputs.cache
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.assets.cache
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.csproj.assemblyreference.cache
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.csproj.buildwithskipanalyzers
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.csproj.corecompileinputs.cache
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.dll
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.pdb
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.sourcelink.json
/kioskcheckin.shared/obj/kioskcheckin.shared.csproj.nuget.dgspec.json
/kioskcheckin.shared/obj/kioskcheckin.shared.csproj.nuget.g.props
/kioskcheckin.shared/obj/kioskcheckin.shared.csproj.nuget.g.targets
/kioskcheckin.shared/obj/project.assets.json
/kioskcheckin.web/bin/debug/net6.0/kioskcheckin.web.dll
/kioskcheckin.web/bin/debug/net6.0/kioskcheckin.web.exe
/kioskcheckin.web/bin/debug/net6.0/kioskcheckin.web.pdb
/kioskcheckin.web/bin/debug/net6.0/kioskcheckin.web.staticwebassets.endpoints.json
/kioskcheckin.web/bin/debug/net6.0/kioskcheckin.web.staticwebassets.runtime.json
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.assemblyinfoinputs.cache
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.assets.cache
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.csproj.buildwithskipanalyzers
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.csproj.corecompileinputs.cache
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.csproj.filelistabsolute.txt
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.generatedmsbuildeditorconfig.editorconfig
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.pdb
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.sourcelink.json
/kioskcheckin.web/obj/debug/net6.0/rjimswa.dswa.cache.json
/kioskcheckin.web/obj/debug/net6.0/rjsmcshtml.dswa.cache.json
/kioskcheckin.web/obj/debug/net6.0/rjsmrazor.dswa.cache.json
/kioskcheckin.web/obj/debug/net6.0/rpswa.dswa.cache.json
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.build.endpoints.json
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.build.json
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.build.json.cache
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.development.json
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.pack.json
/kioskcheckin.web/obj/debug/net6.0/staticwebassets.uptodatecheck.txt
/kioskcheckin.web/obj/kioskcheckin.web.csproj.nuget.dgspec.json
/kioskcheckin.web/obj/kioskcheckin.web.csproj.nuget.g.props
/kioskcheckin.web/obj/project.assets.json
/kioskcheckinsolution.slnlaunch.user
/kioskcheckin.api/obj/debug/net8.0/kioskcheckin.api.assets.cache
/kioskcheckin.shared/bin/debug/net9.0/kioskcheckin.shared.deps.json
/kioskcheckin.shared/bin/debug/net9.0/kioskcheckin.shared.pdb
/kioskcheckin.shared/obj/project.nuget.cache
/kioskcheckin.web/obj/debug/net6.0/apiendpoints.json
/kioskcheckin.web/obj/debug/net6.0/apphost.exe
/kioskcheckin.web/obj/project.nuget.cache
/kioskcheckin.api/obj/debug/net9.0/apiendpoints.json
/kioskcheckin.api/obj/debug/net9.0/apphost.exe
/kioskcheckin.api/kioskcheckin.api.csproj.user
*.json
/.vs/kioskcheckinsolution/config/applicationhost.config
/kioskcheckin.api/bin/debug/net9.0/appsettings.json
/kioskcheckin.api/obj/debug/net9.0/ref/kioskcheckin.api.dll
/kioskcheckin.api/obj/debug/net9.0/kioskcheckin.api.assemblyinfo.cs
/kioskcheckin.api/obj/debug/net9.0/refint/kioskcheckin.api.dll
/kioskcheckin.data/obj/debug/net9.0/refint/kioskcheckin.data.dll
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.dll
/kioskcheckin.shared/bin/debug/net9.0/kioskcheckin.shared.dll
/kioskcheckin.shared/obj/debug/net9.0/ref/kioskcheckin.shared.dll
/kioskcheckin.shared/obj/debug/net9.0/refint/kioskcheckin.shared.dll
/kioskcheckin.web/obj/debug/net6.0/ref/kioskcheckin.web.dll
/kioskcheckin.web/obj/debug/net6.0/refint/kioskcheckin.web.dll
/kioskcheckin.web/obj/debug/net6.0/kioskcheckin.web.dll
*.user
/.vs/kioskcheckinsolution/filecontentindex/52e15447-56f6-490d-bb7d-fa90c190fdee.vsidx
/.vs/kioskcheckinsolution/filecontentindex/76652a35-3b76-4da4-be31-24b764ef530e.vsidx
/.vs/kioskcheckinsolution/filecontentindex/789954c0-67dd-44ce-966a-d6fca0f35c90.vsidx
/.vs/kioskcheckinsolution/filecontentindex/cd2bbe88-0467-4fc4-a233-8e3c202a9124.vsidx
/.vs/kioskcheckinsolution/filecontentindex/6f7f51d5-9ded-4ec3-b426-2ce89aa70077.vsidx
/kioskcheckin.web/bin/debug/net9.0
/kioskcheckin.web/obj/debug/net6.0/scopedcss/bundle/kioskcheckin.web.styles.css
/kioskcheckin.web/obj/debug/net6.0/scopedcss/projectbundle/kioskcheckin.web.bundle.scp.css
/kioskcheckin.web/obj/debug/net9.0/compressed
/kioskcheckin.web/obj/debug/net9.0
/kioskcheckin.web/obj/kioskcheckin.web.csproj.nuget.g.targets
/.vs/kioskcheckinsolution/filecontentindex
/kioskcheckin.data/obj/debug/net9.0/kioskcheckin.data.assemblyinfo.cs
/kioskcheckin.shared/obj/debug/net9.0/kioskcheckin.shared.assemblyinfo.cs
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
.vs/KioskCheckInSolution/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
tmpclaude-146a-cwd